@import './base.css';

:root {
  --green-main-color: #00bd7e;
  --green-main-color-darker: #007e54;
  --green-main-color-lighter: #00de94;
  --green-main-color-darkest: #00402b;
  --danger-main-color: #aa0404;
  --danger-main-color-lighter: #ff6969;
  --danger-main-color-darker: #800101;
  --danger-main-color-darkest: #460000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media only screen and (hover: none) and (pointer: coarse) {
  /* blocked mobile horizontal scrolling */
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}